<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidos</title>
</head>
<body>
    <h1 style="color: blue; background-color: antiquewhite;">Bienvenidos a la Base de Dato Familiar</h1>
    <br>
    <h3 style="color: coral; backgound-color: antiquewhite; text-align:center">BD Familiare</h3>
    <a href="http://127.0.0.1:8000/bdfamilia/BDfamiliares">Visualizar Base de Datos</a>
    <br>
    <h3 style="color: coral; backgound-color: antiquewhite; text-align:center">Quieres ingresar nuevos familiares a la BD?</h3>
    <a href="http://127.0.0.1:8000/bdfamilia/IngresoFam" >Ingresar Familiares</a>
</body>
</html>